@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #444;
    color: #eee;
}

.header {
    background-color: #666;
    /*altura de un elemento*/
    height: 60px;
}

.header span {
    background-color: #fff;
    color: #444;
}

.main {
    background-color: #aaa;
    width: 1200px;
    height: 100px;
}

footer p {
    text-align: center;
}

.main__imagenes {
    height: 100px;
    overflow-y: scroll;
}

.main__descripcion {
    height: 1000px;
    width: 100px;
    background-color: orange;
    border: 5px solid white;
    margin-bottom: 21px;
    padding: 5px;
}

.main__articulos {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: plum;
}