@import url("./variables.css");
@import url("./header.css");
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    color: var(--white);
    background-color: var(--dark-blue-2);
}